<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>
</head>
<body>
    
    <header id="header">
        <a id="marca" class="marca" href="index.html">Eventos</a> <img src="./img/pc.png" width="110" height="70" >

        <nav id="nav">
            <button aria-label="Abrir Menu" id="buttonMenu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburger"></span>
              </button>
                <ul id="menu" role="menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/sobre">Sobre</a></li>
                        <li><a href="/evento/list">Eventos</a></li>
                        <li><a href="/cliente/list">Cliente</a></li>
                </ul>
        </nav>
    </header>

    <div class="container"></div>

    <div class="footer">
        Eventos
    </div>

    <script src="./js/menu.js"></script>
</body>
</html>